#
# Automake 1.12.6
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define automake_version 1.12.6

%hash sha256 automake-%{automake_version}.tar.gz 0cbe570db487908e70af7119da85ba04f7e28656b26f717df0265ae08defd9ef

#
# The automake build instructions. We use 1.xx Release 1.
#
%include %{_configdir}/automake-1-1.cfg
