#
# DTC (Device Tree Compiler) 1.2.0
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define dtc_version 1.2.0

%hash md5 dtc-%{dtc_version}.tar.gz 8c5186a2dfa5d9ff62e0e6e828d2743a

#
# The DTC build instructions. We use 1.x.x Release 1.
#
%include %{_configdir}/dtc-1-1.cfg
