#
# Expat 2.8.1
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define expat_version     2.8.1
%define expat_version_dir R_2_8_1

%hash sha512 expat-%{expat_version}.tar.gz \
  KxfBIQ1yZ73QvZjT4JMnnFZIfv7B8q5yW7yHuDTD96p4l5HduJ7jJNGoI9xOZbLw0VVa+5XMBtZNdYIeVl38jA==


#
# The Expat build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/expat-2-1.cfg
