%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gcc_version 197b7ac
%define gcc_external 1
%define gcc_expand_name gnu-mirror-gcc-%{gcc_version}
%source set gcc --rsb-file=%{gcc_expand_name}.tar.gz https://codeload.github.com/RTEMS/gnu-mirror-gcc/tar.gz/%{gcc_version}
%hash sha512 %{gcc_expand_name}.tar.gz f9eb91029c31ed2ca3c4ce2066d99352f63f55120aaad295b58621786fe76228d182a4421292fa95007ac6b6529a589795fe3e794ac77b0b86f9cf9286125e36

%patch add gcc -p1 https://gitlab.rtems.org/rtems/rtos/rtems/-/blob/main/assets/tracmigration/ticket_attachments/0001-Back-port-v1-of-gcov-tool-merge-stream-to-GCC-12.patch
%hash sha512 0001-Back-port-v1-of-gcov-tool-merge-stream-to-GCC-12.patch 413f14374856f8bfd2bb94a56f1860fff8fe9a936f33c96fdf6a5a0c5a30e2cf7d05026d0338e8b30015a93d80169a602397076b947c8292ac5b5cdc2237ec4e

%patch add newlib -p1 https://gitlab.rtems.org/rtems/rtos/rtems/-/blob/main/assets/tracmigration/ticket_attachments/0001-aarch64-Add-ILP32-ABI-support-in-assembly-v2.patch
%hash sha512 0001-aarch64-Add-ILP32-ABI-support-in-assembly-v2.patch 7ca237eabfd5b382713186e1fc290dfc999a353315795ecb8dd0d22fcd1ab7f5bf31f4329954adab91ad04c100dcac0e86d406fdbce8f82cf9dc23842c88caf6

# Following patches are related to compilation on Apple M1/Darwin host platform.
# They are here to workaround issues with ISL, MPFR and MPC libraries.
# Upstream projects were already informed so hopefully when RSB moves
# to more modern libraries versions they may be removed from here.
# The patches are solely for libisl 0.24, libmpfr 4.1.0 and libmpc 1.2.1
# See #4657 for more information.
%patch add isl -p1 https://gitlab.rtems.org/rtems/rtos/rtems/-/blob/main/assets/tracmigration/ticket_attachments/fix-mac-arm64-isl-config.patch
%hash sha512 fix-mac-arm64-isl-config.patch c07fdb605a6520d194358504731e63b540211ef680383f1ca4ec65b4ac43ae27687534fd7d8196a4dbe83a0ecf2c42a4254c71e609ee484a7614573bc499a2e8
%patch add mpfr -p1 https://gitlab.rtems.org/rtems/rtos/rtems/-/blob/main/assets/tracmigration/ticket_attachments/fix-mac-arm64-mpfr-config.patch
%hash sha512 fix-mac-arm64-mpfr-config.patch dc5069df870bd02b7e78ed22c6ad9e9a2bb9ca372ce1a6b7e8fa5b7635dcef35c29f251fe5195c9c2a43513116c12cab1b0e96171cf34bd7fb7d0334c2c740fb
%patch add mpc -p1 https://gitlab.rtems.org/rtems/rtos/rtems/-/blob/main/assets/tracmigration/ticket_attachments/fix-mac-arm64-mpc-config.patch
%hash sha512 fix-mac-arm64-mpc-config.patch 2849b11e360ea98e0b4d708c67723ad2d6c7bac6d1e469673f408b0111cf0278429e8bc38fd2b7538dc2d5bb0cc430c646a0fa7f0b6b105a0482a5455fadc8b9
# Comment above related to #4657 and patches ends here

%define newlib_version 64b2081
%define newlib_external 1
%define newlib_expand_name sourceware-mirror-newlib-cygwin-%{newlib_version}
%source set newlib --rsb-file=newlib-%{newlib_version}.tar.gz https://codeload.github.com/RTEMS/sourceware-mirror-newlib-cygwin/tar.gz/%{newlib_version}
%hash sha512 newlib-%{newlib_version}.tar.gz 0e142b06b855b78729c3319e31cf5c15b48cea1f90e001ae1e2d61793c496374065c5658e835e6277ae0739af22ea397feb2c1bc2509a6a80ee6c03818efbf55

%define with_threads 1
%define with_plugin 0
%define with_iconv 1

%include %{_configdir}/gcc-12.cfg
