#
# GDB 7.7.
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.7
%hash sha512 gdb-%{gdb_version}.tar.gz \
       eNYj6X8jJUakcohURCIReUO4YtGZwR4E2E/GF210w27hqGLVJ07qKZbm6d6gnWtp5/DGxkrMS3oHuXSt0eiBPw==

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
