#
# LibFFI
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define libffi_version 3.0.13
%hash sha256 libffi-3.0.13.tar.gz 1dddde1400c3bcb7749d398071af88c3e4754058d2d4c0b3696c2f82dc5cf11c

#
# The RTEMS Tools patches.
#
%define rtems_http_git   http://gitlab.rtems.org
%define rtems_git_tools  %{rtems_http_git}/rtems/tools/rtems-tools/-/raw/main/tools

#
# Fix pkgconfig file on Fedora 64bit.
#
%patch add libffi %{rtems_git_tools}/libffi/libffi-pkg-config-lib64-fix.diff
%hash sha256 libffi-pkg-config-lib64-fix.diff f858658b7b57db13002987b7d6bb0293f181519032bf4dd36969ccb79d6b16a3

#
# The LibFFI build instructions. We use 3.x.x Release 1.
#
%if !%{pkgconfig check libffi >= 3} || %{defined _rsb_getting_source}
 %include %{_configdir}/libffi-3-1.cfg
%endif
