#
# Libtool 2.4.7
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define libtool_version 2.4.7
%hash sha256 libtool-%{libtool_version}.tar.gz BOlsJATqcMWQxUbrpCAqThJyLGQAFsErmy8c49SB6ag=

#
# The libtool build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/libtool-2-1.cfg
