#
# Libtool 2.4.2
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define libtool_version 2.4.2
%hash md5 libtool-%{libtool_version}.tar.gz d2f3b7d4627e69e13514a40e72a24d50

#
# The libtool build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/libtool-2-1.cfg
