#
# or1ksim emulator 1.1.0
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define or1ksim_version 1.1.0

#
# The or1ksim build instructions. We use 1.x.x Release 1.
#
%include %{_configdir}/or1ksim-1-1.cfg
