#
# or1ksim emulator 1.1.0
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define or1ksim_version 1.1.0
%hash sha512 or1k-master.zip \
   swjBdnJFdCUroAbrVDR7j7gGbqOTPMIKL3t5JRUeQrgkaeiP2SHiM1yLlj9DV+xTuhPksGsQ7x23KF9L/8Oq7A==

#
# The or1ksim build instructions. We use 1.x.x Release 1.
#
%include %{_configdir}/or1ksim-1-1.cfg
