#
# Pixman
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define pixman_version 0.40.0
%hash sha512 pixman-0.40.0.tar.gz 063776e132f5d59a6d3f94497da41d6fc1c7dca0d269149c78247f0e0d7f520a25208d908cf5e421d1564889a91da44267b12d61c0bd7934cd54261729a7de5f

#
# The Pixman build instructions. We use 0.x.x Release 1.
#
%if !%{pkgconfig check pixman-1} || %{defined _rsb_getting_source}
 %include %{_configdir}/pixman-0-1.cfg
%endif
