#
# Qemu from git
#

%if %{release} == %{nil}
 %define release 1
%endif

%include %{_configdir}/base.cfg

%include %{_configdir}/bare-config.cfg

#
# Stable version. Qemu is fast moving.
#
%define qemu_version 9.2.4

#
# Use released sources.
#
%source set qemu https://download.qemu.org/qemu-%{qemu_version}.tar.xz
%hash sha512 qemu-%{qemu_version}.tar.xz \
        WqLqI9I03Ylt5z93je/ek/O0kL0ilHw5YJH90iMc5czRd2fJEBcKlSvoilWTcl8cMbFabRmz0wY3Rl0X+2llHA==

#
# Patches from Qemu's patchworks site.
#
%patch add qemu --rsb-file=Provide-the-missing-LIBUSB_LOG_LEVEL_-for-older-libusb-or-FreeBSD.-Providing-just-the-needed-value-as-a-defined..patch \
         https://patchwork.ozlabs.org/patch/406903/raw
%hash sha512 Provide-the-missing-LIBUSB_LOG_LEVEL_-for-older-libusb-or-FreeBSD.-Providing-just-the-needed-value-as-a-defined..patch \
         XnvHdJXkW11vEXlZsKMXqZOX4ZbP/8QOG15EYu8E5kXUT73NXHtRlXZR/Wb6yI21tH88kM3IpBCZn03szjRaxg==

#
# The Qemu build instructions. We use 9.x.x Release 1.
#
%include %{_configdir}/qemu-9-1.cfg
