#
# Qemu from git
#

%if %{release} == %{nil}
 %define release 1
%endif

%include %{_configdir}/base.cfg

%include %{_configdir}/bare-config.cfg

#
# Couverture QEMU Version.
#
%define qemu_version 03a7fbcce52e0bca7f033ccba79e7856e82bb437

#
# Couverture QEMU disables for this version.
#
%define qemu_disables --disable-virtfs --disable-gnutls --disable-docs

#
# Couverture QEMU architectures for this version.
#
%define qemu_archs arm-softmmu,aarch64-softmmu,i386-softmmu,ppc-softmmu,sparc-softmmu

#
# Set Couverture-Qemu source from github.
#
%source set qemu --rsb-file=qemu-couverture-%{qemu_version}.tar.gz https://github.com/AdaCore/qemu/archive/%{qemu_version}.tar.gz
%hash sha512 qemu-couverture-%{qemu_version}.tar.gz e26959cb55ae0c565c299ec38fe86b7bf85bdb246bfc99f0fcd22e1baaebaa05e96a46b3781443678fb63de8e4b3b7b0abc30d717eda6eef216a53fcabab47c0

#
# The Qemu build instructions. We use 4.x.x Release 1.
#
%include %{_configdir}/qemu-4-1.cfg
