#
# Qemu from git
#

%if %{release} == %{nil}
 %define release 1
%endif

%include %{_configdir}/base.cfg

%include %{_configdir}/bare-config.cfg

#
# Stable version. Qemu is fast moving.
#
%define qemu_version 42d58e7c6760cb9c55627c28ae538e27dcf2f144

#
# Qemu is from GIT unless the RSB has been released.
#
# We need to handle the release process
#
%if %{rsb_released} && %{!defined without_release_url}
 %source set qemu %{rtems_release_url}/%{rtems_version}/sources/qemu-git-42d58e7.tar.xz
%else
 %source set qemu git://git.qemu-project.org/qemu.git?pull?checkout=%{qemu_version}?submodule=dtc
%endif

#
# Patches from Qemu's patchworks site.
#
%patch add qemu pw://patchwork.ozlabs.org/patch/406903/raw/Provide-the-missing-LIBUSB_LOG_LEVEL_-for-older-libusb-or-FreeBSD.-Providing-just-the-needed-value-as-a-defined..patch
%hash sha256 Provide-the-missing-LIBUSB_LOG_LEVEL_-for-older-libusb-or-FreeBSD.-Providing-just-the-needed-value-as-a-defined..patch 40399fcedb44b2c1bfa1a95af482f7f335f42d713967ed2f34980a7a940c3740

#
# These patches are broken.
#
#%patch add qemu pw://patchwork.ozlabs.org/patch/347503/raw/CAN-bus-simple-SJA1000-PCI-card-emulation-for-QEMU.patch
#%hash md5 CAN-bus-simple-SJA1000-PCI-card-emulation-for-QEMU.patch fbbe8f02867b8b8ee7c23c83cf1e1efa
#%patch add qemu pw://patchwork.ozlabs.org/patch/347502/raw/CAN-bus-Kvaser-PCI-CAN-S-single-SJA1000-channel-emulation-added.patch
#%hash md5 CAN-bus-Kvaser-PCI-CAN-S-single-SJA1000-channel-emulation-added.patch 7bd24fa8b55116c9a1301afd7dfa69d3

#
# Patches to build qemu-sparc with Leon3 support
#
%patch add qemu https://gaisler.org/qemu/0001-LEON3-Add-emulation-of-AMBA-plug-play.patch
%hash sha256 0001-LEON3-Add-emulation-of-AMBA-plug-play.patch 5f2ca77e727dc3b4f9d78ff8c62d610b1bc2afd3345106401cf26e99452db067
%patch add qemu https://gaisler.org/qemu/0002-LEON3-Build-AMBA-plug-and-play-records-from-high-lev.patch
%hash sha256 0002-LEON3-Build-AMBA-plug-and-play-records-from-high-lev.patch 9347b9d006434ec36efd36bf7fc5644bd7ce2c04c6cac47fa199380b08eeade4
%patch add qemu https://gaisler.org/qemu/0003-LEON3-Init-UART-timers-and-CPU-if-we-run-a-RAM-image.patch
%hash sha256 0003-LEON3-Init-UART-timers-and-CPU-if-we-run-a-RAM-image.patch e011e41c3c5780110c774853f4006d2428c96a814f5740dae84a439f6f0b8930

#
# Patch to send halt signal to qemu-system-or32 process when RTEMS terminates
#
%patch add qemu %{rtems_http_git}/rtems-tools/plain/tools/qemu/0001-openrisc-terminate-qemu-process-upon-receiving-a-hal.patch
%hash sha256 0001-openrisc-terminate-qemu-process-upon-receiving-a-hal.patch 88cd5c9e6e2a6bab23bf049a6f4212ff00083b002b73dbe63b2fe9832717f19e

#
# The Qemu build instructions. We use 1.x.x Release 1.
#
%include %{_configdir}/qemu-1-1.cfg
