#
# Sis emulator 2.16
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define sis_version 2.16
%hash sha256 sis-%{sis_version}.tar.bz2 37cdb8f5cc1255e273423f580f5c76755e5851dabb677f6bc1100f27557b8dce

#
# The sis build instructions. We use 2.15
#
%include %{_configdir}/sis-2-1.cfg

