#
# SWIG 4.0.1
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/base.cfg

%define swig_version 4.0.1
%hash sha512 swig-rel-%{swig_version}.tar.gz AeegX9wtAHvY40gxQoEHXIx4RuQG4KpSopReBWwbsmhzfLSz8saStvixkhNgl+ZygHCgGqRFPQdQrArxLLQDSg==

%define pcre_version 8.40
%hash sha512 pcre-%{pcre_version}.tar.bz2 tMJ+r73zO9ehOEZVsZNvS+O8Z0XAcjR+sm6YiJbFJmS9haxCRE2hvni24g9Ftsflkh9fIPWwdBtb09mETlvU4g==

#
# The SWIG build instructions.
#
%include %{_configdir}/swig-4-1.cfg
