#
# RTEMS Net Services
#

%if %{release} == %{nil}
 %define release 1
%endif

#
# Net Services Version
#
%define rtems_net_services_version c630d97e5fc29c50270b6f401370a5b055e5ea6e
%hash sha512 rtems-net-services-%{rtems_net_services_version}.tar.bz2 \
              EP22vQ9b7fDCtreuMB+z53EZPxbrAcs9YlvC6Jm71+3pzEKDlUKbmj52KWTvhgDxaEsmg5FJGG6rAidlV9EeAA==

%define rtems_waf_version 1eb6f271544e751ec3c6c514634b526d7b258934
%hash sha512 rtems_waf-%{rtems_waf_version}.tar.bz2 \
              XIP44htUnN4ABxjGB9oa6PjY8JU7mQkuY07dcUIDfr8jAiiK4XQJSEHgjyWVE5jl2qpUGAJneEDvjYTs0/RieA==

#
# Net Services Build configuration
#
%include %{_configdir}/tools/rtems-net-services.cfg
