#
# GCC 4.4.x Version 1.
#
# This configuration file configure's, make's and install's gcc. It uses
# newlib, MPFR, MPC, and GMP in a one-tree build configuration.
#

#
# Source
#
#
# GCC core and G++
#
%source set gcc https://ftpmirror.gnu.org/gcc/gcc-%{gcc_version}/gcc-core-%{gcc_version}.tar.bz2

%if %{enable_cxx}
 %source add gcc https://ftpmirror.gnu.org/gcc/gcc-%{gcc_version}/gcc-g++-%{gcc_version}.tar.gz
%endif

#
# Newlib
#
%source set newlib https://sourceware.org/pub/newlib/newlib-%{newlib_version}.tar.gz

#
# GCC Common build script.
#
%include %{_configdir}/gcc-common-1.cfg
