#
# Libtool 2.xx Version 1.
#
# This configuration file configure's, make's and install's libtool
#

%ifn %{defined _internal_autotools}
  %define _internal_autotools no
  %ifn %{defined _internal_autotools_path}
    %define _internal_autotools_path %{nil}
  %endif
%endif

Name:      libtool-%{libtool_version}-%{_host}-%{release}
Summary:   Libtool v%{libtool_version} for host %{_host}
Version:   %{libtool_version}
Release:   %{release}
URL: 	   http://www.gnu.org/software/libtool/
BuildRoot: %{_tmppath}/%{name}-root-%(%{__id_u} -n)

#
# Source
#
%source set libtool ftp://ftp.gnu.org/gnu/libtool/libtool-%{libtool_version}.tar.gz

#
# Prepare the source code.
#
%prep
  build_top=$(pwd)

  %source setup libtool -q -n libtool-%{libtool_version}
  %patch setup libtool -p1

  cd ${build_top}

%build
  build_top=$(pwd)

  %if %{defined _internal_autotools_path}
    export PATH="%{_internal_autotools_path}/bin:${PATH}"
  %endif

  cd libtool-%{libtool_version}

  if test "%{_internal_autotools}" = "yes"; then
    ac_prefix=%{_internal_autotools_path}
  else
    ac_prefix=%{_prefix}
  fi

  if test "%{_build}" != "%{_host}" ; then
    CFLAGS_FOR_BUILD="-g -O2 -Wall"
  fi
  export CFLAGS CFLAGS_FOR_BUILD CC

  CFLAGS="$SB_CFLAGS" \
  ./configure \
    --build=%{_build} --host=%{_host} \
    --verbose --disable-nls \
    --without-included-gettext \
    --prefix=${ac_prefix}

  %{__make} %{?_smp_mflags} all

  unset CFLAGS_FOR_BUILD

  cd ${build_top}

%install
  build_top=$(pwd)

  export PATH="%{_bindir}:${PATH}"
  %{__rmdir} $SB_BUILD_ROOT

  cd libtool-%{libtool_version}

  if test "%{_internal_autotools}" = "yes"; then
    %{__make} install
  else
    %{__make} DESTDIR=$SB_BUILD_ROOT install
  fi

  cd ${build_top}
