#
# microwindows
#
# This configuration file configure's, make's and install's microwindows.
#

%if %{release} == %{nil}
%define release 1
%endif

Name:      microwindows-v%{microwindows_version}-%{_host}-%{release}
Summary:   microwindows is an Open Source Window System
Version:   %{microwindows_version}
Release:   %{release}
URL:     http://www.microwindows.org/
BuildRoot: %{_tmppath}/%{name}-root-%(%{__id_u} -n)

#
# microwindows Source
#
%source set microwindows git://github.com/alex-sever-h/microwin.git
%patch add microwindows %{rtems_git_tools}/microwindows/microwindows-0.93-dev.diff
%hash md5 microwindows-0.93-dev.diff 5b06e77d9ee42c8ff0032bba07d01c1a
%patch add microwindows %{rtems_git_tools}/microwindows/microwindows-0.93-dev-without-keyboard.diff
%hash md5 microwindows-0.93-dev-without-keyboard.diff a675f55750754e1cd82a17496f0e8fab

#
# Prepare the source code.
#
%prep
  build_top=$(pwd)

  source_dir_microwindows="microwin"
  %source setup microwindows -q -n microwin
  %patch setup microwindows -p1

  cd ${build_top}

#
# Build the source code.
# The configure should be run in the source dir
#
%build
  build_top=$(pwd)

  %{build_directory}

  mkdir -p ${build_dir}/src
  cd ${build_dir}/src
  cp -r ${build_top}/${source_dir_microwindows}/src/* .

  #%{host_build_flags}

  export RTEMS_MAKEFILE_PATH=%{rtems_bsp_prefix}

  make -f Makefile.rtems CONFIG=`pwd`/Configs/config.rtems -k all

  cd ${build_top}

%install
  build_top=$(pwd)

  %{__rmdir} $SB_BUILD_ROOT

  cd ${build_dir}/src
  mkdir -p $SB_BUILD_ROOT/%{_includedir}
  mkdir -p $SB_BUILD_ROOT/%{_libdir}
  mkdir -p $SB_BUILD_ROOT/%{_bindir}
  cp -r include/* $SB_BUILD_ROOT/%{_includedir}
  cp -r lib/*.a $SB_BUILD_ROOT/%{_libdir}
  cp -r bin/* $SB_BUILD_ROOT/%{_bindir}
