#
# QEMU 9 Version 1.
#
# This configuration file configure's, make's and install's QEMU.
#

%define qemu_disables --disable-nettle --disable-spice --enable-slirp --enable-pixman --disable-download

%include %{_configdir}/qemu-common-2.cfg
