#
# GDB 7.5.
#

%if %{release} == %{nil}
%define release 1
%endif

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.5

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
