#
# M4 1.4.16
#

%ifn %{defined release}
%error No 'release' defined
%endif

%include %{_configdir}/base.cfg

%define m4_version 1.4.16

Name: m4-%{m4_version}-%{_host}-%{release}

%description
M4 for host %{_host}.

#
# The m4 build instructions. We use 1.x.x Release 1.
#
%include %{_configdir}/m4-1-1.cfg
