#
# NetSNMP 5.7.2.1
#

%if %{release} == %{nil}
 %define release 1
%endif

%include %{_configdir}/rtems-bsp.cfg

#
# NetSNMP Version
#
%define net_snmp_version 5.7.2.1

%hash sha512 net-snmp-%{net_snmp_version}.tar.gz \
          bE2t0UXKuVcuJVmtmdZ5RGloUIZ3HG11fTZn2hoGGrhnRtU8KNSDgcWakNkrGBK4E/MXbP8VbEGSkXf7WFKZ0A==

#
# We need some special flags to build this version.
#
%define net_snmp_cflags -DNETSNMP_CAN_USE_SYSCTL=1 -DARP_SCAN_FOUR_ARGUMENTS=1 -DINP_IPV6=0

#
# Patch for RTEMS support.
#
%patch add net-snmp %{rtems_devel_ticket}/4703/rtems-net-snmp-5.7.2.1-20140623.patch
%hash  sha512 rtems-net-snmp-5.7.2.1-20140623.patch \
          1edac8e064a1e60d476267fde3ac81ace952fb0f8d20c95663f2185d1c497a98d2a36f74e93405e563d1483e37d5a6be1dac90bbdb658888067af0714c696ee5

#
# NetSNMP Build configuration
#
%include %{_configdir}/net-snmp-5-1.cfg
