#
# RTEMS 7 LibBSD
#

# branch: 7-freebsd-14
%if %{rsb_released}
 %define rtems_libbsd_version fb14-%{rsb_version}
%else
 # This hash should not be updated manually. See source-builder/sb-rtems-pkg
 %define rtems_libbsd_version 51814dd512348325ccc42c7b155307823dc9d38b
%endif
%hash sha512 rtems-libbsd-%{rtems_libbsd_version}.tar.bz2 \
              t/ddikhUl/BwWJ6GchDglQNJiHPYEvW4uFsrh7OrvQGtaDdUP5Dast1rP5MqhwIeZiG3lmpvnXCVvB+OuQPcrg==
# This hash should not be updated manually. See source-builder/sb-rtems-pkg
%define rtems_waf_version 2df98f670ff433a7bbaed1d4b6b31ac9645b1326
%hash sha512 rtems_waf-%{rtems_waf_version}.tar.bz2 \
              ee9O//KqmTst9xHDsGSoi3fINR+Y3ZRuZE/QeSbixkVLVDVAMoS9vJp2z9FhiIPO82MUk8x0ss0Z2BkO0UigGA==

#
# The RTEMS LibBSD build instructions.
#
%include tools/rtems-libbsd-common.cfg
