#
# Automake 1.12.6
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg
%include %{_configdir}/versions.cfg

%define rtems_automake_version 1.12.6

%hash md5 automake-%{rtems_automake_version}.tar.gz 199d39ece2e6070d64ac20d45ac86026

#
# Check the version of automake in the path.
#
%if %{__automake_ver} < %{rtems_automake_version}
 #
 # Tools configuration.
 #
 %include %{_configdir}/devel/automake-1.12.6-1.cfg
%endif
