#
# RTEMS Tools for 5.
#

#
# The RTEMS Tools version is set to the RSB version or the RTEMS version.
#
%if %{rsb_released}
 %define rtems_tools_version %{rsb_version}
 %define rtems_tools_source rtems-tools-%{rtems_tools_version}
 %define rtems_tools_ext xz
%else
 %define rtems_tools_version 29ad0ec7a8ec8aae5afeb32ef8be03707f626843
 %define rtems_tools_ext bz2
%endif

%define rtems_tools_source rtems-tools-%{rtems_tools_version}
%source set rtems-tools https://git.rtems.org/rtems-tools/snapshot/%{rtems_tools_source}.tar.%{rtems_tools_ext}
%hash   sha512 rtems-tools-%{rtems_tools_version}.tar.bz2 \
         da30ce5525a7efb6aeef9636112dc02b3642d11e73fd01d4b425db98f6c8928370cfb987b0c6c22c329b445f9ccf1e0fd354ec2b14d5834c0b62be3b2a0ca208

#
# Optionally enable/disable building the RTEMS Tools via the command line.
#
%if %{defined with_rtems_tools}
 %define rtems_tools_build 1
%endif
%if %{defined without_rtems_tools}
 %define rtems_tools_build 0
%endif

#
# Build by default.
#
%if ! %{defined rtems_tools_build}
 %define rtems_tools_build 1
%endif

%if %{rtems_tools_build}
 #
 # The RTEMS Tools build instructions.
 #
 %include tools/rtems-tools-common-1.cfg
%endif
