#
# GCC 4.9.x., Newlib GIT.
#

%ifn %{defined gcc_version}
 %error No GCC version defined.
%endif

%ifn %{defined newlib_version}
 %error No Newlib version defined.
%endif

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg
%include %{_configdir}/versions.cfg

%define mpfr_version   3.0.1
%define mpc_version    0.8.2
%define gmp_version    5.0.5

%define with_threads 1
%define with_plugin  0

%ifn %{defined with_iconv}
 %define with_iconv 1
%endif

#
# Hash checksums of the libraries used in GCC.
#
%hash md5 mpfr-%{mpfr_version}.tar.bz2 bfbecb2eacb6d48432ead5cfc3f7390a
%hash md5 mpc-%{mpc_version}.tar.gz    e98267ebd5648a39f881d66797122fb6
%hash md5 gmp-%{gmp_version}.tar.bz2   041487d25e9c230b0c42b106361055fe

#
# Newlib is in git
#
%source set newlib git://sourceware.org/git/newlib-cygwin.git?fetch?reset=hard?branch=master?checkout=%{newlib_version}

#
# The gcc/newlib build instructions. We use 4.9 Release 1.
#
%include %{_configdir}/gcc-4.9-1.cfg
