#
# Automake 1.12.6
#

%if %{rtems_arch} == none
 %define _target %{_host}
%endif

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg
%include %{_configdir}/versions.cfg

%define rtems_automake_version 1.12.6

#
# Fix the warning on new perl versions.
#
%patch add automake -p1 %{rtems_automake_patches}/automake-1.12.6-bugzilla.redhat.com-1239379.diff
%hash  md5 automake-1.12.6-bugzilla.redhat.com-1239379.diff 8f53b687f9eae7c00c460e80bbef9276

#
# Check the version of automake in the path.
#
%if %{__automake_ver} < %{rtems_automake_version}
 #
 # Tools configuration.
 #
 %include %{_configdir}/devel/automake-1.12.6-1.cfg
%endif
