#
# GDB 7.11
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.11
%define gdb_src_ext xz
%hash md5 gdb-%{gdb_version}.tar.xz b5c784685e1cde65ba135feea86b6d75

#
# aarch64 and x86_64 support.
#
%patch add gdb -p1 %{rtems_gdb_patches}/gdb-7.11-aarch64-x86_64.patch
%hash md5 gdb-7.11-aarch64-x86_64.patch ed53a5339874193f10b9ac6bb995989d

#
# ERC32 simulator fixes.
#
%patch add gdb https://gaisler.org/rsb/gdb-7.11-sis-leon2-leon3.diff
%hash md5 gdb-7.11-sis-leon2-leon3.diff 88eac302290ea2a58bd7e08aaca94efd

%if %{_build_os} == freebsd
 %patch add gdb -p0 %{rtems_gdb_patches}/patch-gdb-python-python-config.py
 %hash  md5 patch-gdb-python-python-config.py c0260fcca4c1a5509635049c0094eee3
%endif

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
