#
# Binutils 2.24.
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define binutils_version 2.24

%hash sha256 binutils-%{binutils_version}.tar.bz2 e5e8c5be9664e7f7f96e0d09919110ab5ad597794f5b1809871177a0f0f14137

#
# Enable deterministic archives by default. This will be the default
# there all tools using this binutils will create deterministic
# archives.
#
%define with_deterministic_archives 1

#
# The binutils build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/binutils-2-1.cfg
