#
# GDB 7.5.
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.5

%patch add gdb %{rtems_gdb_patches}/gdb-7.5-rtems4.11-20121003.diff

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
