#
# GDB 7.6.2.
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.6.2

#
# RTEMS Build Set patches.
#
%include rtems-gdb-patches.cfg

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
