#
# GDB 7.12
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.12
%define gdb_src_ext xz
%hash md5 gdb-%{gdb_version}.tar.xz a0a3a00f7499b0c5278ba8676745d180

#
# ERC32 simulator fixes. (still OK from 7.11)
#
%patch add gdb https://gaisler.org/rsb/gdb-7.11-sis-leon2-leon3.diff
%hash md5 gdb-7.11-sis-leon2-leon3.diff 88eac302290ea2a58bd7e08aaca94efd

#
# FreeBSD specific fixes (still OK from 7.11)
#
%if %{_build_os} == freebsd
 %patch add gdb -p0 %{rtems_gdb_patches}/patch-gdb-python-python-config.py
 %hash  md5 patch-gdb-python-python-config.py c0260fcca4c1a5509635049c0094eee3
%endif

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
