#
# GDB 7.9
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.9
%define gdb_src_ext xz
%hash md5 gdb-%{gdb_version}.tar.xz e6279f26559d839f0b4218a482bcb43e

#
# Clean up the sim-arange inline code so it builds.
#
%patch add gdb %{rtems_gdb_patches}/gdb-sim-arange-inline.diff
%hash  md5 gdb-sim-arange-inline.diff 11bb2936ea29afeaa023077191fd4705
%patch add gdb %{rtems_gdb_patches}/gdb-sim-cgen-inline.diff
%hash  md5 gdb-sim-cgen-inline.diff e6f7d6d7295cdba99f51aab514ea9778

#
# Fix building on Windows. Download the patches from GDB git repo.
#
#%define sourceware_binutils_gdb http://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=patch
#%patch add gdb %{sourceware_binutils_gdb};h=63413d85873c450fa4ed2494f21fb1a65bdaf554
#%patch add gdb %{sourceware_binutils_gdb};h=03b7960334677d33ee7410f2c819f78820c32024

%if %{_build_os} == freebsd
 %patch add gdb -p0 %{rtems_gdb_patches}/patch-gdb-python-python-config.py
 %hash  md5 patch-gdb-python-python-config.py c0260fcca4c1a5509635049c0094eee3
%endif

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
