#
# RTEMS Tools for 5.
#

#
# The RTEMS Tools version is set to the RSB version or the RTEMS version.
#
%if %{rsb_released}
 %define rtems_tools_version %{rsb_version}
%else
 %define rtems_tools_version 845054a2ac1f470c5dd79361646be0243bb91160
 %define rtems_tools_source rtems-tools-%{rtems_tools_version}
 %source set rtems-tools https://git.rtems.org/rtems-tools/snapshot/%{rtems_tools_source}.tar.bz2
 %hash sha512 rtems-tools-%{rtems_tools_version}.tar.bz2 d95f00d5e8457fed98853da3e65ef0c18393bf4bb4b8ef59d1ab296f2661dba9771c18075809a6c6c3b186a3823fc86f64230bb4b808f40a617dc235902155c5
%endif

#
# Optionally enable/disable building the RTEMS Tools via the command line.
#
%if %{defined with_rtems_tools}
 %define rtems_tools_build 1
%endif
%if %{defined without_rtems_tools}
 %define rtems_tools_build 0
%endif

#
# Build by default.
#
%if ! %{defined rtems_tools_build}
 %define rtems_tools_build 1
%endif

%if %{rtems_tools_build}
 #
 # The RTEMS Tools build instructions.
 #
 %include tools/rtems-tools-common-1.cfg
%endif
