#
# GCC 4.8.3., Newlib GIT
#

%define gcc_version    4.8.3
%define newlib_version 1c144ed142224cd112c1c9177a4231bef7975f9f

%hash md5 gcc-%{gcc_version}.tar.bz2 7c60f24fab389f77af203d2516ee110f

#
# The gcc/newlib build instructions.
#
%include tools/rtems-gcc-4.8-newlib-git-1.cfg
