%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gcc_build_date 2026.03.04

%define gcc_version 15.3.0
%source set gcc https://ftpmirror.gnu.org/gcc/gcc-%{gcc_version}/gcc-%{gcc_version}.tar.xz
%hash sha512 gcc-%{gcc_version}.tar.xz \
  DenilhU7UsAhscfmPJxiFR16CsA/I85un3csGw63g/as3YHMRWe/5BKKb2SWjCz8jv9As2Ipy6dCU0n31jfGVA==

%define newlib_version a7c61498
%define newlib_external 1
%define newlib_expand_name newlib-cygwin-%{newlib_version}
%source set newlib --rsb-file=%{newlib_expand_name}.tar.gz https://gitlab.rtems.org/contrib/newlib-cygwin/-/archive/%{newlib_version}/newlib-cygwin-%{newlib_version}.tar.gz
%hash sha512 %{newlib_expand_name}.tar.gz \
  xFH50webiAaoFx9CrZN9gz6gagrvbiqd2Dwwn2kTTXX1nmvIyEdntN2y2SyIyOGYlu9sviVIaTHFiZ6jE1eZog==

# MacOS Zlib build
# https://sourceware.org/bugzilla/show_bug.cgi?id=32933
%patch add gcc --rsb-file=gcc-13.3.0-zlib-macos-fix.diff \
            https://gitlab.rtems.org/-/project/7/uploads/a2bf6eca4b47f0e4cb52cd6485b0b0fe/gcc-13.3.0-zlib-macos-fix.diff
%hash sha512 gcc-13.3.0-zlib-macos-fix.diff \
    BH2aTocA+HwiHuWSp2k2C7DlzsbBlSVhP3xIXGfmb5ZYdpELvENAxJV6z2iNdOQszn6kPNxwU4ySSgOEwrXXpA==

%define gcc_pre_install %include tools/rtems-install-stdcxx.cfg

%define with_threads 1
%define with_plugin 0
%define with_iconv 1

%include %{_configdir}/gcc-15.cfg
