#
# GDB 7.7.
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.7

#
# Clean up the sim-arange inline code so it builds.
#
%patch add gdb %{rtems_gdb_patches}/gdb-sim-arange-inline.diff
%patch add gdb %{rtems_gdb_patches}/gdb-sim-cgen-inline.diff

%if %{_build_os} == freebsd
 %patch add gdb -p0 %{rtems_gdb_patches}/patch-gdb-python-python-config.py
%endif

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
