#
# RTEMS 7
#

# This hash should not be updated manually. See source-builder/sb-rtems-pkg
%define rtems_kernel_version 5a16f9dd505134421507cd493c28ffa665e97f48

%hash sha512 rtems-kernel-%{rtems_kernel_version}.tar.bz2 \
              riQybz5K5wz8SjLlqBfhxWQvbBEIgdCuOlFDrkIQiJELFl33KswGK0+OxzvVAwkLATHXCQgBPMbY05UeHRFcSg==
#
# The RTEMS build instructions.
#
%include tools/rtems-kernel-common.cfg
