#
# RTEMS Legacy networking stack
#

#  branch: main
# This hash should not be updated manually. See source-builder/sb-rtems-pkg
%define rtems_net_version 303fd4dde468d01eda1e285bf2809fc318af3e5d
%hash sha512 rtems-net-legacy-%{rtems_net_version}.tar.bz2 \
              mWV7YR68pAPk41tjcG5CaJGXGoRtiTKtIgqEaJllYvi7otnZgFAO+hmktjpO9lytOdCGI5Rw8YrFLJWbKkkuYQ==
# This hash should not be updated manually. See source-builder/sb-rtems-pkg
%define rtems_waf_version 4cdd4b49314ae64715afec0e911cb83a62895aa4
%hash sha512 rtems_waf-%{rtems_waf_version}.tar.bz2 \
              sI0T9kkjN30/lyoiflYk0FZYVHnW37SGAo2uXlNIM85eSJ+PDtKNjiq2t1+psOEWcvT8+WB9vhlwOPSCSX/c+Q==
%include tools/rtems-net-legacy-common.cfg
