#
# RTEMS Tools for 7.
#

#
# The RTEMS Tools version is set to the RSB version or the RTEMS version.
#
%if %{rsb_released}
 %define rtems_tools_version %{rsb_version}
 %define rtems_tools_source rtems-tools-%{rtems_tools_version}
 %define rtems_tools_ext xz
%else
%define rtems_tools_version 7e6ba9aaad4361e9b3ab0991d87904ddb835c634
 %define rtems_tools_ext bz2
%endif

%define rtems_tools_source rtems-tools-%{rtems_tools_version}
%source set rtems-tools https://gitlab.rtems.org/rtems/tools/rtems-tools/-/archive/%{rtems_tools_version}/%{rtems_tools_source}.tar.%{rtems_tools_ext}
%hash sha512 %{rtems_tools_source}.tar.%{rtems_tools_ext} \
  RSRhfsu+d4mTD+GpSIwjxorC2nWHDtGwsiW3WNfGUj/Syd5v/f7F8vQF9BwLngDwcVlQxHkD5y+CoiRzq8XNEA==

#
# Optionally enable/disable building the RTEMS Tools via the command line.
#
%if %{defined with_rtems_tools}
 %define rtems_tools_build 1
%endif
%if %{defined without_rtems_tools}
 %define rtems_tools_build 0
%endif

#
# Build by default.
#
%if ! %{defined rtems_tools_build}
 %define rtems_tools_build 1
%endif

%if %{rtems_tools_build}
 #
 # The RTEMS Tools build instructions.
 #
 %include tools/rtems-tools-common-1.cfg
%endif
