#
# Build set for RTEMS-lwIP
#

#
# RTEMS-lwIP Version
#
# This hash should not be updated manually. See source-builder/sb-rtems-pkg
%define rtems_lwip_version 1b36d2ef729ff81928d9a9fca8de3aad7f860a52
%hash sha512 rtems-lwip-%{rtems_lwip_version}.tar.bz2 \
              txzC5Hdui+v8bVuqqz6yxUjctO4ZPFGvWnsrM6T3O+RjfwU9YYbkDi4v4ZxwtkMyYua7RAMNMiv9izLB/71f0A==

# This hash should not be updated manually. See source-builder/sb-rtems-pkg
%define rtems_waf_version 1a118bbcd52138dbdc3236e64bc23fd430a064b1
%hash sha512 rtems_waf-%{rtems_waf_version}.tar.bz2 \
              wHiMBCaJjnNd8EEnbl5A9qyGwcQ5E+BcG9Q5SwJmlbarcrQ4U6//Q2ni2XNyXtWQzzy959o6YSg8PvVjgEi0vg==

#
# RTEMS-lwIP Build configuration
#
%include tools/rtems-lwip
