#
# RTEMS 6 LibBSD (FreeBSD 14)
#

# branch: 6-freebsd-14
%if %{rsb_released}
 %define rtems_libbsd_version fb14-%{rsb_version}
%else
 %define rtems_libbsd_version 4c6f3c4063740c1175c846f45185f6c9eee3d022
%endif
%hash sha512 rtems-libbsd-%{rtems_libbsd_version}.tar.bz2 \
              pLRTQnUsePFMDCcmi3VBEztU1MG2HfpEOw3TbDUR0NoG/piBcK/4UB5L9u2Wgs8dp9HYOHwkKDLPDDz+mBxSWw==
%define rtems_waf_version 1eb6f271544e751ec3c6c514634b526d7b258934
%hash sha512 rtems_waf-%{rtems_waf_version}.tar.bz2 \
              XIP44htUnN4ABxjGB9oa6PjY8JU7mQkuY07dcUIDfr8jAiiK4XQJSEHgjyWVE5jl2qpUGAJneEDvjYTs0/RieA==

#
# The RTEMS LibBSD build instructions.
#
%include tools/rtems-libbsd-common.cfg
