#
# GCC 4.4.7, Newlib 1.18.0
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gcc_version    4.4.7
%define newlib_version 1.18.0
%define mpfr_version   2.4.2
%define mpc_version    0.8.1
%define gmp_version    5.0.5

%define with_threads 1
%define with_plugin  0
%define with_iconv   1

#
# M32C C++ does not work.
#   gcc-4.4.7/libstdc++-v3/src/mt_allocator.cc:76: error: cast from 'void*' to 'size_t' loses precision
#
%if %{_target} == m32c-rtems4.10
%define enable_cxx 0
%endif

%ifn %{defined enable_cxx}
%define enable_cxx 1
%endif

#
# The RTEMS 4.10 patches
#
Patch0: %{rtems_gcc_patches}/gcc-core-4.4.7-rtems4.10-20120314.diff
%if %{enable_cxx}
Patch1: %{rtems_gcc_patches}/gcc-g++-4.4.7-rtems4.10-20120314.diff
%endif
Patch10: %{rtems_newlib_patches}/newlib-1.18.0-rtems4.10-20110518.diff
%include rtems-gcc-patches.cfg

#
# The gcc/newlib build instructions. We use 4.4 Release 1.
#
%include %{_configdir}/gcc-4.4-1.cfg
