#
# GDB 16.1
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 16.1
%define gdb_src_ext xz
%hash sha512 gdb-%{gdb_version}.tar.xz \
   F7Mi/eBlWoSVBoUch5q6mtH4v+6AS5AO/HGIBgkb7HVRE4O9TWMrizKjLvIHIzMxWBUBFX3xio31KKvm/2Z1dw==

# Need on MacOS to work around a Python sysconfig bug:
#  https://sourceware.org/bugzilla/show_bug.cgi?id=29070
%patch add gdb -p1 --rsb-file=gdb-14067-python-config.diff https://sourceware.org/bugzilla/attachment.cgi?id=14783&format=raw
%hash sha512 gdb-14067-python-config.diff \
   HiCV0eQulk0W+G5uu1gCvUn5Ns6bF6RxqOO9kcSi8zpfEHOMzphlOv5cz0IDN5Q8m94na1kRVy++4z6qc43t3w==

# Patch for TLS support
%patch add gdb -p1 --rsb-file=0001-gdb-Add-support-for-TLS-under-RTEMSv16.2.patch \
            https://gitlab.rtems.org/-/project/26/uploads/e042ed8055d18095de6c13018bf4a628/0001-gdb-Add-support-for-TLS-under-RTEMSv16.2.patch
%hash sha512 0001-gdb-Add-support-for-TLS-under-RTEMSv16.2.patch \
    zUxi1M2EFQ0eE4c6wCaXALjrulE5RzvRyRC4pHueXLVAfS/kFAj5zOExI/Jir/qd8ZmyF7evcIT5KCZEgMQJQA==

%include %{_configdir}/gdb-common-1.cfg
