#
# GDB 7.0.
#

%disable select

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define gdb_version 7.0

%define without_python

%source set gdb http://ftp.rtems.org/pub/rtems/people/chrisj/nios/nios2-gdb-7.0.tar.bz2

#
# The gdb build instructions. We use 7.xx Release 1.
#
%include %{_configdir}/gdb-7-1.cfg
