#
# Binutils 2.29.
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define binutils_version 2.29

%hash sha512 binutils-%{binutils_version}.tar.bz2 8148587d7e4f14ebcbcb3f984b116deaae5d4008228628acde14bc242a64a4b53faf1f6077a2c4ca4750e2f254b698ba506bd657f79e1202e87e7029b0069337

%patch add binutils -p1 https://gitlab.rtems.org/rtems/rtos/rtems/-/blob/main/assets/tracmigration/ticket_attachments/0001-Fix-Binutils-2.29-PR21884.patch
%hash sha512 0001-Fix-Binutils-2.29-PR21884.patch 19f31152c3d5df4e1d0bd05316c8418a12790ca75e76d9188ad55aca5cb601a37396132283611ec2843630bdcb82eaeca727faa0a78fd9fd4f752fc0c3b0d3d2

#
# Enable deterministic archives by default. This will be the default
# there all tools using this binutils will create deterministic
# archives.
#
%define with_deterministic_archives 1

#
# Enable 64-bit BFD support
#
%define with_64_bit_bfd 1

#
# The binutils build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/binutils-2-1.cfg
