#
# Binutils 2.31.1
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define binutils_version 2.31.1

%hash sha512 binutils-%{binutils_version}.tar.bz2 b42954e6f49a0adcd2676bdd77dfb59bfc25cec8184b007521d1e2b1d5d0593b58639e3d9448d5a40fe024c3cea386a37743627d6bb16d502f52a4a32b9573bd

#
# Enable deterministic archives by default. This will be the default
# there all tools using this binutils will create deterministic
# archives.
#
%define with_deterministic_archives 1

#
# Enable 64-bit BFD support
#
%define with_64_bit_bfd 1

#
# The binutils build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/binutils-2-1.cfg
