#
# Binutils 2.33.1
#

%include %{_configdir}/checks.cfg
%include %{_configdir}/base.cfg

%define binutils_version 2.33.1

%hash sha512 binutils-%{binutils_version}.tar.bz2 bfdbb49a9002dd9bae8ab3c9347e05bd968ad97837c3e71b046eb8721c45a73db01f880dbdf0911bb37a97be37d6cc3b26d0855964a011f593ccbf1d08641c87

#
# Enable deterministic archives by default. This will be the default
# there all tools using this binutils will create deterministic
# archives.
#
%define with_deterministic_archives 1

#
# Enable 64-bit BFD support
#
%define with_64_bit_bfd 1

#
# The binutils build instructions. We use 2.xx Release 1.
#
%include %{_configdir}/binutils-2-1.cfg
