#
# RTEMS Tools for 6.
#

#
# The RTEMS Tools version is set to the RSB version or the RTEMS version.
#
%if %{rsb_released}
 %define rtems_tools_version %{rsb_version}
 %define rtems_tools_source rtems-tools-%{rtems_tools_version}
 %define rtems_tools_ext xz
%else
 %define rtems_tools_version 0b94fb0e3934d039c928c82b7a85446da0c4076f
 %define rtems_tools_ext bz2
%endif

%define rtems_tools_source rtems-tools-%{rtems_tools_version}
%source set rtems-tools https://git.rtems.org/rtems-tools/snapshot/%{rtems_tools_source}.tar.%{rtems_tools_ext}
%hash   sha512 rtems-tools-%{rtems_tools_version}.tar.bz2 957be966b0abada4261d21dc7a79e302718d28fc2f55a2c959fc17db044367750614d8a56890803150fcfcc3e9c84250b3e14fb8f02b1ae8de9a2f95721d4087

#
# Optionally enable/disable building the RTEMS Tools via the command line.
#
%if %{defined with_rtems_tools}
 %define rtems_tools_build 1
%endif
%if %{defined without_rtems_tools}
 %define rtems_tools_build 0
%endif

#
# Build by default.
#
%if ! %{defined rtems_tools_build}
 %define rtems_tools_build 1
%endif

%if %{rtems_tools_build}
 #
 # The RTEMS Tools build instructions.
 #
 %include tools/rtems-tools-common-1.cfg
%endif
