#
# RTEMS Tools for 6.
#

#
# The RTEMS Tools version is set to the RSB version or the RTEMS version.
#
%if %{rsb_released}
 %define rtems_tools_version %{rsb_version}
 %define rtems_tools_source rtems-tools-%{rtems_tools_version}
 %define rtems_tools_ext xz
%else
 %define rtems_tools_version 40a7058bd4d7681ca6be7a14f09a1275ea4fbde4
 %define rtems_tools_ext bz2
%endif

%define rtems_tools_source rtems-tools-%{rtems_tools_version}
%source set rtems-tools https://git.rtems.org/rtems-tools/snapshot/%{rtems_tools_source}.tar.%{rtems_tools_ext}
%hash   sha512 rtems-tools-%{rtems_tools_version}.tar.bz2 \
         nlwNKLP2UXRMRfK0SU0Bpd+9sOvRoRaXRRTj0lzx9jkqGMwwU4lB19uLhTnH88u1jGOrhVSkNunIHvbi9SayAg==

#
# Optionally enable/disable building the RTEMS Tools via the command line.
#
%if %{defined with_rtems_tools}
 %define rtems_tools_build 1
%endif
%if %{defined without_rtems_tools}
 %define rtems_tools_build 0
%endif

#
# Build by default.
#
%if ! %{defined rtems_tools_build}
 %define rtems_tools_build 1
%endif

%if %{rtems_tools_build}
 #
 # The RTEMS Tools build instructions.
 #
 %include tools/rtems-tools-common-1.cfg
%endif
